/**********************************************************
 * front/style/common.css
 *
 * Basic styling for the b0x3n static site on git pages.
 *
 */

 *,
 body
 {
     margin: 0;
     padding: 0;
 
     box-sizing: border-box;
 
     background-color: #FFF;
     color: #000;
 }
 
 
 /**********************************************************
  * A simple wrapper container, everything will go inside
  * this container so I'll just call it OuterWrapper.
  *
  * This goes directly in the body of index.html.
  *
  */
     #OuterWrapper
     {
         position: absolute;
 
         width: 100%;
         height: 100%;
     }
 