/**********************************************************
 * front/source/scss/style/_terminal.scss
 */

    .terminal
    {
        position: absolute;

        top: 10vh;
        left: 1vw;
        width: 98vw;
        height: 85vh;

        border: solid 1px #FFF;
    }

    .terminal-flicker
    {
        position: absolute;

        top: 10vh;
        left: 1vw;
        width: 98vw;
        height: 85vh;

        border: solid 1px #FFF;

        animation-duration: .10s;
        animation-name: terminalFlicker;
        animation-iteration-count: infinite;
    }

        .cell
        {
            position: absolute;

            margin: 0;
            padding: 0;

            word-spacing: 0px;
            letter-spacing: 0px;

            width: auto;
        }

